<div class="col-md-8 col-md-offset-12">
    <input type="text" class="form-control" [(ngModel)]="carName">
    <hr>
    <button class="btn btn-primary" (click)="loadCars()">Load car</button>
    <button class="btn btn-success" (click)="addCar()">Add car</button>
    <hr>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let car of cars">
            <span class="badge" [ngStyle]="{background: car.color}">{{car.id}}</span> {{car.name}}
            <button class="btn bt-xs btn-info" (click)="setNewColor(car)">Change color</button>
        </li>
    </ul>
</div>